{% extends 'base.html' %}

{% block title %}
    <title>Main Page</title>
{% endblock %}    

{% block body %}
    <h1>Navigation Page!</h1>
    <h2>Choose your path and explore:</h2>
    <form action="#" method="post">
        <p><input class = "form-submit" type="submit" value="Register" name="Register"/></p>
        <p><input class = "form-submit" type="submit" value="Recognise" name="Recognise"/></p>
        <p><input class = "form-submit" type="submit" value="Attendance" name="Attendance"/></p>
        <p><input class = "form-submit" type="submit" value="Send Email" name="Send Email"/></p>
    </form>
{% endblock %}