{% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}    

{% block body %}
    <h1>Register a Face!</h1>
    <form action="#" method="POST" enctype="multipart/form-data">
        <p><input class="input-control" type="text" name="Name" placeholder="Name" required/></p>
        <p><input class="input-control" type="email" name="Student-Email" placeholder="Student-Email" required/></p>
        <p><input class="input-control" type="email" name="Parent-Email" placeholder="Parent-Email" required/></p>
        <p><input class="input-control" type="file" name="Image" required/></p>
        <p><input class = "form-submit" type="submit" value="Submit"></p>
    </form>

    <form style="margin-top: 5rem" action="{{url_for('index')}}">
        <p><input class = "form-submit" type="submit" value="Go to Home"/></p>
    </form>
{% endblock %}